:root{
    --color-primary: #00c2c5;
}

.col-4{
    width: calc((100%/12)*4);
    box-sizing: border-box;
}
.col-6{
    width: calc((100%/12)*6);
    box-sizing: border-box;
}
.col-12{
    width: 100%;
    box-sizing: border-box;
}
.row{
	display:flex;
	flex-wrap: wrap;
}
.col-3{
	width: calc((100% / 12) ) * 3;
	box-sizing: border-box;
}
.promote-image{
    display: block;
    width: 100%;
    height: 100%;
}
.container-fluid{
    max-width: 100%;
}
.container{
    margin: auto;
}
.rows{
    display:flex;
	flex-wrap: wrap;
}
.bg-primary{
    background-color: #00adb0;
}
*:not(i){
   font-family: "Be Vietnam Pro", sans-serif;
}
.d-flex{
    display: flex;
}
.nav-list{
    padding: 0;
    list-style-type: none;
}
.nav-link{
    color: black;
    text-decoration: none;
    padding: 12px 20px;
    display: block;
}
.gap-x-1{
    column-gap: 4px;
}
.gap-x-2{
    column-gap: 8px;
}
.gap-x-3{
    column-gap: 12px;
}
.header-btn{
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
.bg-white{
    background-color: white;
}
.text-white{
    color: white;
}
.items-center{
    text-align: center;
}
.static{
    position: static;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.sticky{
    position: sticky;
}
.parent-block{
	width:350px;
	height:400px;
	background-color:blueviolet;
}
.my-demo-block {
	width:150px;
	height:200px;
	background-color:cadetblue;
	top: 100px;
	left: 100px;
}
